@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: 'winter';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97.466% 0.011 259.822);
  --color-base-300: oklch(93.268% 0.016 262.751);
  --color-base-content: oklch(41.886% 0.053 255.824);
  --color-primary: oklch(52% 0.105 223.128);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(42.551% 0.161 282.339);
  --color-secondary-content: oklch(88.51% 0.032 282.339);
  --color-accent: oklch(81% 0.117 11.638);
  --color-accent-content: oklch(11.988% 0.038 335.171);
  --color-neutral: oklch(19.616% 0.063 257.651);
  --color-neutral-content: oklch(83.923% 0.012 257.651);
  --color-info: oklch(95% 0.051 180.801);
  --color-info-content: oklch(17.625% 0.017 214.515);
  --color-success: oklch(80.494% 0.077 197.823);
  --color-success-content: oklch(16.098% 0.015 197.823);
  --color-warning: oklch(89.172% 0.045 71.47);
  --color-warning-content: oklch(17.834% 0.009 71.47);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(14.618% 0.022 20.076);
  --color-border: --theme-elevation-150;
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

/* -------------- General -------------- */

.container {
  @apply max-w-6xl mx-auto px-8;
}

h1 {
  @apply text-5xl font-normal font-serif mb-6;
}

h2 {
  @apply text-4xl font-normal font-serif mb-6;
}

h3 {
  @apply text-2xl font-normal font-serif mb-4;
}

h4 {
  @apply text-lg font-normal font-serif mb-4;
}

p {
  @apply font-sans mb-6;
}

p + h2 {
  @apply border-t-1 pt-8;
}

/* -------------- DaisyUI Card Adjustments -------------- */

.card h2,
.card h3,
.card p {
  @apply mb-0;
}

/* -------------- Section Themes -------------- */

.btn-link {
  text-decoration-line: none;
  --btn-border: #0000;
  --btn-bg: #0000;
  --btn-noise: none;
  --btn-shadow: '';
  padding: 0;
  height: unset;
}

.btn-link:hover {
  text-decoration-line: underline;
  text-underline-offset: 4px;
}

/* -------------- Primary Background -------------- */

.section-bg-primary {
  @apply bg-primary text-primary-content;
}

.section-bg-primary .btn-primary {
  --btn-color: var(--color-base-200);
  --btn-fg: var(--color-primary);
}

.section-bg-primary .btn-primary.btn-outline {
  --btn-color: #0000;
  --btn-fg: var(--color-base-200);
  --btn-border: var(--color-base-200);
}

.section-bg-primary .btn-link {
  outline-color: var(--color-base-200);
  --btn-fg: var(--color-base-200);
}

/* -------------- Secondary Background -------------- */

.section-bg-secondary {
  @apply bg-secondary text-secondary-content;
}

.section-bg-secondary .btn-primary {
  --btn-color: var(--color-base-200);
  --btn-fg: var(--color-secondary);
}

.section-bg-secondary .btn-primary.btn-outline {
  --btn-color: #0000;
  --btn-fg: var(--color-base-200);
  --btn-border: var(--color-base-200);
}

.section-bg-secondary .btn-link {
  outline-color: var(--color-base-200);
  --btn-fg: var(--color-base-200);
}

/* -------------- Light Background -------------- */

.section-bg-light {
  @apply bg-base-200 text-neutral;
}

.section-bg-light .btn-primary {
  --btn-color: var(--color-primary);
  --btn-fg: var(--color-primary-content);
}

.section-bg-light .btn-primary.btn-outline {
  --btn-color: #0000;
  --btn-fg: var(--color-primary);
  --btn-border: var(--color-primary);
}

.section-bg-light .btn-link {
  outline-color: var(--color-primary);
  --btn-fg: var(--color-primary);
}

/* -------------- Dark Background -------------- */

.section-bg-dark {
  @apply bg-neutral text-base-200;
}

.section-bg-dark .btn-primary {
  --btn-color: var(--color-base-200);
  --btn-fg: var(--color-primary);
}

.section-bg-dark .btn-primary.btn-outline {
  --btn-color: #0000;
  --btn-fg: var(--color-base-200);
  --btn-border: var(--color-base-200);
}

.section-bg-dark .btn-link {
  outline-color: var(--color-base-200);
  --btn-fg: var(--color-base-200);
}
